<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footer-item">
                <div class="footer-item-content"  style="margin-top: -7px;">
                    <a href="{{ path('front_office_homepage') }}" class="footer-logo">
                        {#<img src="{{ asset('frontOffice/assets/img/footer-logo.png') }}" alt="footer-logo">#}
                        <i class="flaticon-internet" style="font-size: 35px; color: #1abc9c"></i>
                        <span style="color: #cecdcd; font-size:25px; padding-left: 4px; font-family: Serif">
                        Immobiliere.tn</span>
                    </a>
                    <div class="clearfix"></div>
                    <!-- paragraph -->
                    <p>Immobiliere.tn est un service fourni par Immobilière 3M sur lequel vous pouvez poster
                        des annonces immobilère gratuitement.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item">
                <div class="footer-item-content">
                    <h2 class="title">Adresse</h2>
                    <!-- Contact Info -->
                    <ul class="contact-info">
                        <li class="clearfix">
                            <i class="fa fa-phone fa-lg"></i>
                            <label>+216 31 553 901</label>
                        </li>
                        <li class="clearfix">
                            <i class="fa fa-mobile fa-lg"></i>
                            <label>+216 95 631 100</label>
                        </li>
                        <li class="clearfix">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <label>
                                <a href="mailto:contact@immobiliere.tn">contact@immobiliere.tn</a>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item clearfix">
                <div class="footer-item-content">
                    <h2 class="title">Menu</h2>
                    <ul class="links">
                        <li>
                            <a href="{{ path('front_office_homepage') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('front_list_all_properties') }}">Annonces</a>
                        </li>
                        <li>
                            <a href="{{ path('front_office_about') }}">Qui sommes nous</a>
                        </li>
                        <li>
                            <a href="{{ path('front_office_terms_conditions') }}">Conditions générales d'utilisation</a>
                        </li>
                        <li>
                            <a href="{{ path('front_office_contact') }}">Contactez-nous</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item clearfix">
                <div class="footer-item-content blog-share social-media-box">
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/site.immobiliere.tn/" target="_blank" class="facebook-bg">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Agence3m?edit=true" class="twitter-bg" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/+3MIMMOBILIERE" class="google-bg" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCI7K6APeseM8ITA1y9AXX8A" class="google-bg" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end-->

<!-- Sub footer start -->
<div class="sub-footer">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="copy-right text-center">
                &copy; 2018 <a href="" target="">Immobiliere.tn</a>. Tous droits réservés. Développé par
                <a href="mailto:houssem.derouich04@gmail.com">Houssem Derouich</a>
            </div>
        </div>
    </div>
</div>
<!-- Sub footer end -->