{% extends 'frontOffice/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <!-- Sub banner start -->
    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <div class="top">
                        <h1>Submit Property</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="{{ path('front_office_homepage') }}">Home</a></li>
                        <li class="active">Créer un compte</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->

    <!-- Creat account start -->
    <div class="submit-property">
        <div class="container">
            <div class="row">
                <div class="main-title">
                    <h1>{{ 'layout.login'|trans|capitalize }}</h1>
                    <div class="border">
                        <div class="border-inner"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4"
                     style="border: 1px solid lightgrey; padding: 15px;">

                    <div class="submit-address">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">

                            <div class="form-group">
                                <label for="username">Email</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           required="required"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="button-md button-theme btn-block text-uppercase"
                                       value="{{ 'resetting.request.submit'|trans }}"/><br>
                                <div class="text-lg text-center">
                                    <a href="{{ path('fos_user_security_login') }}" class="">
                                        Retour auconnexion</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
